#navdiv{
  display:flex;
  float: right;
  padding: 0 25px;
  /* height: 48px; */
  vertical-align: middle;
  white-space: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  -webkit-user-select: none;
}
nav{
  padding: 6px;
  width: 100%;
  position: relative;

}
.spacer{
  clear: both;
}
nav img{
  margin-top: 5px;
}
#mobile-nav{
  display: -webkit-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  overflow-x: hidden;
  padding-left: 16px;
}
#mobile-nav a.active{
  color: #4285f4;
  border-bottom: 2px solid #4285f4;
}
#mobile-nav a{
  color: #70757a;
  display: none;
  -webkit-box-flex: 0;
  -webkit-box-flex: 0 0 auto;
  flex: 0 0 auto;
  font-size: 12px;
  font-weight: 600;
  line-height: 48px;
  margin-right: 8px;
  padding: 0 8px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
a.c{
  margin-top: 8px;
  text-decoration: none;
  /* color: rgb(245, 228, 228); */
  font-size: 13px;
  font-weight: 367;
}
.c{
  display: inline-block;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
}

button{
  border-radius: 3px;
  height:36px;
  padding:5px 12px;
  background-color: #4C87E1 ;
  color:white;
  border:none;
  display: inline-block;
  min-width: 96px;
  margin: 7px 7px;
  cursor: pointer;
}
.goxjub{
  cursor: pointer;
}
.appsDiv{
  /* background-position: -64px -29px; */
  padding: 2px;
  height: 40px;
  width: 40px;
  cursor: pointer;
  display: inline-block;
}
.appsDiv:hover{
  background-color: rgba(60,64,67,.08);
  opacity: 1;
  outline: none;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
@media (max-width:600px){
  #mobile-nav a{
    display: block;
  }
  .c{
    display: none;
  }
}